@import './reset.css';
@import './transition.css';

html,
body,
#app {
  height: 100%;
  font-family: "HarmonyOS_Regular", sans-serif;
}


html {
  overflow-x: hidden;
}
a,p,span{
  user-select: none;
  text-decoration: none;
  color: #fff;
  box-sizing: border-box;
}

.text-pacifico {
  font-family: "Pacifico-Regular";
}
.text-unidream{
  font-family: "UnidreamLED";
}


@font-face {
  font-family: "Pacifico-Regular";
  font-display: swap;
  src: url("/font/Pacifico-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "UnidreamLED";
  font-display: swap;
  src: url("/font/UnidreamLED.ttf") format("truetype");
}

.cards {
  border-radius: 6px;
  background-color: #00000040;
  backdrop-filter: blur(10px);
  transform: scale(1);
  transition: backdrop-filter 0.3s,
  transform 0.3s;

}

.cards:hover {
  transform: scale(1.01);
}

.cards:active {
  transform: scale(1.01);
}
